header {
    background: rgb(23,0,50);
    background: linear-gradient(270deg, rgba(23,0,50,1) 0%, rgba(0,113,214,1) 100%);
    color: whitesmoke;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 250%;
    font-weight: bolder;
}

#searchSection{
    border-bottom: 1px slategray solid;
    padding-bottom: 1%;
    margin-left: 1%;
}

button {
    color: whitesmoke;
    background-color: #0071d6;
    border: transparent;
    border-radius: 5px;
}



button:hover {
    background-color: #3389d4;
    transform: scale(1.02);
}

button:disabled, button[disabled] {
    color: whitesmoke;
    background-color: #3e3e3f;
    border: transparent;
    border-radius: 5px;
}

#listBottom {
    width: 100%;
}

#cityButtons, #clearButton {
    margin-left: 1%;
    margin-top: 1%;
}

#clearButton {
    border-bottom: 1px slategray solid;
    margin-top: 1%;
    padding-bottom: 1%;
}

#todayForecast {
    position: absolute;
    border: 1px slategray solid;
    left: 20%;
    top: 15%;
    width: 78%;
    height: 34%;
}

#cityAndDay {
    padding-top: 1%;
}

#cityAndDay, .todayData{
    padding-left: 1%;
}

.todayData {
    font-size: large;
}

#UVIvalue {
    z-index: 2;
    position: relative;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    font-size: small;
}

#fiveDayCards {
    position: absolute;
    left: 20%;
    top: 52%;
    width: 78%;
    height: 45%;
}

.forecastCard {
    display: inline-block;
    border: 1px slategray solid;
    height: auto;
    width: 15%;
    margin: 1%;
    background-color: rgb(53, 68, 83);
    color: white;
    padding: 1%;
}

.forecastData {
    padding-left: 1%;
}

@media only screen and (max-width: 374px) {
    #todayForecast {
        top: 18%;
        left: 25%;
    }

    #fiveDayCards {
        display: flex;
        flex-direction: column;
    }

    .forecastCard {
        width: 50%;
        margin-left: 25%;
    }

    #cityButtons {
        width: fit-content;
    }
}